/* google font */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 450;
  font-style: normal;
}

@import "tailwindcss";

@plugin "daisyui" {}

;

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


a.active {
  @apply text-orange-600
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

/* Optional: Show scrollbar only on md+ (desktop) */
.md\:scrollbar-auto {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}
.md\:scrollbar-auto::-webkit-scrollbar {
  display: block;
}